/*გლობალური კლასები*/
.container{
	display: flex;
	justify-content: space-between;
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
}
/*ძირითადი სტრუქტურის შექმნა*/
body{
	display: grid;
	grid-template-areas: auto;
	grid-template-rows: minmax(387px, auto) auto minmax(780px, auto);
	grid-template-areas: 
	"header"
	"section"
	"footer";
}
.header-content{
	grid-area: header;
	background: #0020F4;
}
.section-content{
	grid-area: section;
}
.footer-content{
	grid-area:footer;
	background:  #0020F4;
}

/*ჰედერის სტილები*/
.header-content .container{
	padding-top: 40px;
	align-items: center;
}
.header-content .navbar-ul{
	display: flex;
}
.header-content .navbar-ul .navbar-li{
	margin-right: 30px;
}
.header-content .navbar-ul .navbar-li a{
	color: white;
	font-family: 'Helvetica Neue Regular';
	padding-bottom: 10px;
	transition: .3s;
}
.header-content .navbar .navbar-contact a{
	padding: 18px 40px;
	border-radius: 28px;
	background: white;
	color: #171717;
	font-family: 'Helvetica Neue Bold';
}
.header-content .navbar-ul .navbar-li a:hover{
    border-bottom: 2px solid white;
}
/*ძირითადი სექციის სტილები*/
.biggest-image{
	max-width: 924px;
	width: 100%;
	margin-bottom: 30px;
}
.sub-images img{
	max-width: 160px;
	width: 100%;
}
.main-content-container{
	max-width: 924px;
	width: 100%;
	margin: 0 auto;
	transform: translateY(-150px);
}
.main-content-container h2{
	font-size: 23px;
	font-family: 'Helvetica Neue Bold';
}
.main-content-container .sub-images {
	display: flex;
	justify-content: space-between;
	margin: 60px 0 60px;
}
.main-content-container .main-paragraphs {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;
}
.paragraph-margin-bottom{
	margin-bottom: 18px;
}
.main-content-container .more-information{
	display: flex;
	justify-content: center;
	margin-top: 76px;
}
.main-content-container .more-information a{
	padding: 18px 70px;
	border-radius: 28px;
	background: #0A22F4;
	color: #FFFFFF;
	font-family: 'Helvetica Neue Bold';
}
/*ფუტერის სტილები*/
.footer-content .contact-container, form{
	padding: 270px 0 270px 0 ;
	max-width: 400px;
	width: 100%;
}
.footer-content iframe{
	max-width: 400px;
	width: 100%;
	min-height: 180px;
	height: 100%;
	border-radius: 15px;
}
.footer-content .contact-container h3{
	color: #FFFFFF;
	font-family: 'Helvetica Neue Bold';
	font-size: 32px;
	padding-bottom: 30px;
}
.footer-content .contact-container p{
	color: #FFFFFF;
	line-height: 1.5; 
	padding-bottom: 58px;
}
.contact-container .contact-opportunities{
	padding-top: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 600px;
}

.contact-opportunities svg{
	padding: 10px;
	background: white;
	border-radius: 50px;
}
.contact-opportunities .call, .mail{
	display: flex;
	align-items: center;
}
.contact-opportunities span{
	padding-left: 20px;
	color: #FFFFFF;
	font-size: 22px;
}






